* {
  margin: 0;
  padding: 0;
}

.bg {
  z-index: -1;
  position: absolute;
  background: url(../Images/Back_image.png);
  width: 100%;
  height: 200vh;
}

main {
  margin: 6% 8%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav .burger {
  position: absolute;
  z-index: 11;
  display: none;
  width: auto;
  height: auto;
  padding: 5px 5px 10px 5px;
  background-color: #EFA48B;
  border-radius: 5px;
}
@media screen and (max-width: 1000px) {
  header nav .burger {
    display: block;
  }
}
header nav .burger.active {
  background-color: white;
  padding: 5px 5px 20px 5px;
}
header nav .burger .burger_line1 {
  margin-top: 5px;
  border-radius: 5px;
  width: 38px;
  height: 5px;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header nav .burger .burger_line1.active {
  margin-top: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #EFA48B;
}
header nav .burger .burger_line2 {
  margin-top: 5px;
  border-radius: 5px;
  width: 38px;
  height: 5px;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header nav .burger .burger_line2.active {
  opacity: 0;
  background-color: #EFA48B;
}
header nav .burger .burger_line3 {
  margin-top: 5px;
  border-radius: 5px;
  width: 38px;
  height: 5px;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header nav .burger .burger_line3.active {
  margin-top: -15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #EFA48B;
}
header nav ul {
  position: relative;
  width: 450px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media screen and (max-width: 1000px) {
  header nav ul {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
    row-gap: 20px;
    width: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    margin: -6% -8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: 10;
    background-color: #EFA48B;
    text-align: center;
    padding: 0 100px 0 100px;
  }
}
@media screen and (max-width: 1000px) {
  header nav ul {
    width: 140px;
  }
}
header nav ul.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
header nav ul li {
  font-family: "Roboto";
  font-style: normal;
  list-style: none;
  font-weight: 300;
  font-size: 20px;
  padding: 5px 10px;
  line-height: 23px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header nav ul li:hover {
  background-color: #EFA48B;
}
header nav ul li:hover a {
  font-weight: 500;
  color: white;
}
header nav ul li a {
  text-decoration: none;
  color: #2C2C2C;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main_information {
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1000px) {
  .main_information {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main_information .main_text {
  height: 446px;
  margin-top: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 480px);
  grid-template-columns: minmax(300px, 480px);
  grid-row-gap: 23px;
  text-align: left;
}
@media screen and (max-width: 1000px) {
  .main_information .main_text {
    text-align: center;
    margin-top: 15%;
    -ms-grid-columns: minmax(212px, 500px);
    grid-template-columns: minmax(212px, 500px);
  }
}
.main_information .main_text p:first-child {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 83px;
  line-height: 83px;
  color: #2C2C2C;
}
@media screen and (max-width: 1000px) {
  .main_information .main_text p:first-child {
    font-size: clamp(60px, 8vw, 100px);
    line-height: 90%;
    /* 83px/900 */
  }
}
.main_information .main_text p:first-child span {
  font-weight: 900;
}
.main_information .main_text p:first-child span::before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 183px;
  height: 42.3px;
  background-color: #EFA48B;
  border-radius: 5px;
  margin-top: 35px;
}
@media screen and (max-width: 1000px) {
  .main_information .main_text p:first-child span::before {
    display: none;
  }
}
.main_information .main_text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
}
.main_information .main_text .btn_more {
  background: #EFA48B;
  -webkit-box-shadow: 0px 18px 40px rgba(151, 108, 94, 0.4);
          box-shadow: 0px 18px 40px rgba(151, 108, 94, 0.4);
  border-radius: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 25px;
  text-align: center;
  padding: 25px 0;
  color: white;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  height: 30px;
}
.main_information .main_text .btn_more:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 27px 40px rgba(151, 108, 94, 0.4);
          box-shadow: 0px 27px 40px rgba(151, 108, 94, 0.4);
}
.main_information .main_illustartion {
  background: url(../Images/Window.svg) no-repeat;
  width: 740px;
  height: 660px;
}
@media screen and (max-width: 1460px) {
  .main_information .main_illustartion {
    background: url(../Images/window\ 2.svg) no-repeat;
    width: 440px;
  }
}
@media screen and (max-width: 1000px) {
  .main_information .main_illustartion {
    display: none;
  }
}

.main_information_meembers {
  margin-top: 20%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
}
@media screen and (max-width: 1000px) {
  .main_information_meembers {
    margin-top: 100px;
  }
}
.main_information_meembers p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: #2C2C2C;
  text-align: center;
  line-height: 90%;
}
.main_information_meembers p span {
  font-weight: 900;
}
.main_information_meembers p span::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 195px;
  height: 22px;
  background: #CDDFE5;
  margin-top: 40px;
}

.cards {
  margin-top: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(235px, 400px));
  gap: 3.125vw;
}

.card {
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  height: auto;
  background: rgba(255, 255, 255, 0.31);
  -webkit-box-shadow: 0px 20px 56px rgba(98, 98, 98, 0.25);
          box-shadow: 0px 20px 56px rgba(98, 98, 98, 0.25);
  -webkit-backdrop-filter: blur(63px);
          backdrop-filter: blur(63px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 20px 50%;
  grid-template-columns: 50% 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  gap: 20px;
}
.card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
@media screen and (max-width: 1000px) {
  .card {
    -ms-grid-columns: 90%;
    grid-template-columns: 90%;
  }
}

.card_img {
  width: auto;
  height: auto;
}
.card_img img {
  width: 100%;
  height: auto;
}

.card_info {
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  gap: 10px;
}

.card_main_text {
  width: 100%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #2C2C2C;
}
@media screen and (max-width: 1000px) {
  .card_main_text {
    font-size: 28px;
    text-align: center;
  }
}

.card_text {
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 14px;
  color: #2C2C2C;
}
@media screen and (max-width: 1000px) {
  .card_text {
    font-size: 14px;
    text-align: center;
  }
}

.card_btn {
  cursor: pointer;
  margin-left: 70%;
  width: 50px;
  height: 40px;
  -webkit-box-shadow: 0px 10px 40px rgba(169, 108, 87, 0.53);
          box-shadow: 0px 10px 40px rgba(169, 108, 87, 0.53);
  border-radius: 5px;
  background: url(../Images/More.svg) no-repeat center #EFA48B;
}

.slider_block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 430px 40px 1fr;
  grid-template-columns: 430px 1fr;
  grid-gap: 40px;
}
@media screen and (max-width: 1000px) {
  .slider_block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.slider_block .main_text {
  gap: 40px;
  margin-top: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 480px);
  grid-template-columns: minmax(300px, 480px);
  text-align: left;
}
@media screen and (max-width: 1000px) {
  .slider_block .main_text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 15%;
    -ms-grid-columns: minmax(212px, 500px);
    grid-template-columns: minmax(212px, 500px);
  }
}
.slider_block .main_text p:first-child {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 90%;
  color: #2C2C2C;
  height: 100px;
}
@media screen and (max-width: 1000px) {
  .slider_block .main_text p:first-child {
    font-size: clamp(60px, 8vw, 100px);
    line-height: 90%;
    /* 83px/900 */
    height: auto;
  }
}
.slider_block .main_text p:first-child span {
  font-weight: 900;
}
.slider_block .main_text p:first-child span::before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 103px;
  height: 30px;
  background-color: #DBD8B3;
  border-radius: 5px;
  margin-top: 20px;
}
@media screen and (max-width: 1000px) {
  .slider_block .main_text p:first-child span::before {
    display: none;
  }
}
.slider_block .main_text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
}
.slider_block .main_text .control_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  .slider_block .main_text .control_circle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.slider_block .main_text .control_circle .dot {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border: 5px solid #EFA48B;
  border-radius: 50%;
  background-color: white;
}
.slider_block .main_text .control_circle .dot:hover {
  background: rgba(239, 164, 139, 0.6156862745);
}
.slider_block .main_text .control_circle .dot.active {
  background: #EFA48B;
}

.slides {
  border-radius: 10px;
  height: 450px;
  overflow: hidden;
}

.slide_muve {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100% 100% 100% 100% 100%;
  grid-template-columns: 100% 100% 100% 100% 100%;
  height: 450px;
}

.slide {
  height: 450px;
  position: relative;
}

.nr1 {
  background: url(../Images/Slider/Nr1.jpg) center;
  background-size: cover;
}

.nr2 {
  background: url(../Images/Slider/Nr2.jpg);
  background-size: cover;
}

.nr3 {
  background: url(../Images/Slider/Nr3.jpg);
  background-size: cover;
}

.nr4 {
  background: url(../Images/Slider/Nr4.jpg);
  background-size: cover;
}

.nr5 {
  background: url(../Images/Slider/Nr5.jpg);
  background-size: cover;
}
/*# sourceMappingURL=Index.css.map */